<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Resetado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetdb.css') }}">
</head>
<body>
    <nav class="nav"></nav>
        <div class="navbar">
            <li class="navbar-li"><a class="nav-link" href="/"><span>GriffinBox</span></a></li>
            <li class="navbar-li"><a class="nav-link" aria-current="page" href="/">Home</a></li>
            <li class="navbar-li"><a class="nav-link" href="/cadastro">Adicionar Música</a></li>
            <li class="navbar-li"><a class="nav-link" href="/playlist">Ver Músicas</a></li>
            <li class="navbar-li"><a class="nav-link" href="/curtidas">Musicas Curtidas</a></li>
            <li class="navbar-li"><a class="nav-link active" href="/reset-database">Reset DB</a></li>
        </div>
    </nav>
    <h1>O banco de dados foi resetado com sucesso!</h1>
    <a href="{{ url_for('home') }}">Voltar à página inicial</a>
</body>
</html>